<div class="calendar-header">
  <div class="login">
    <%= link_to "ログイン", new_user_session_path %>
  </div>
  <div class="new-registration">
    <%= link_to "新規登録", new_user_registration_path %>
  </div>
</div>

<div class="calendar-main">
  <%= month_calendar do |date| %>
    <%= date %>
  <% end %>
</div>

