<div class="chat-main">
  <div class="chat-header">
    <div class="title">
      チャット
    </div>
  </div>
  
  <%= form_with model: @comment, class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
  <% end %>
</div>