.calendar-header{
  display: flex;
  align-items: center;
  background-color: #ffdd8d;
}

.title{
  font-size: 150%;
  font-family: メイリオ;
  margin-left: 10px;
  margin-right: 15px;
}

.login{
  margin: 10px;
}

.new-registration{
  margin: 10px;
}

.post-time{
  margin: 10px;
}

.calendar-table {
  background-color: #e8feff;
  width: 100vw;
  height: 570px;
}

.chat-table {
  background-color: #FFFFFF;
  width: 300px;
}
