.wrapper{
  height: 1000px;
}

.calendar-header{
  display: flex;
  align-items: center;
  background-color: #ffdd8d;
}

.title{
  font-size: 150%;
  font-family: メイリオ;
  margin: 0px 15px;
}

.title-name{
  text-decoration: none;
}

.btn-lists{
  font-family: メイリオ;
  display: flex;
  align-items: center;
}

li{
  list-style:none;
}

.user-name{
  text-decoration: none;
  margin: 10px;
}

.logout{
  text-decoration: none;
  margin: 10px;
}

.post-time{
  text-decoration: none;
  margin: 10px;
}

.login{
  text-decoration: none;
  margin: 10px;
}

.sign-up{
  text-decoration: none;
  margin: 10px;
}

.calendar-table {
  width: 100vw;
  height: 600px;
}

.simple-calendar{
  background-color: #e8feff;
}

.chat-main{
  display: flex;
  align-items: center;
  background-color: #ffdd8d;
  height: 50px;
}


.chat-table {
  background-color: rgb(200, 251, 199);
  width: 100vw;
  height: 600px;
  overflow: scroll;
}


/* 希望時間投稿 */
.desired-time{
  font-size:large;
  background-color: seashell;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.options{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-box{
  margin: 15px;
}

.start-time{
  margin: 15px;
}

.submit{
  margin: 15px;
}