.calendar-header{
  display: flex;
}

.login{
  margin: 10px;
}

.new-registration{
  margin: 10px;
}

.calendar-table {
  background-color: #b6f6fb;
  width: 100vw;
  height: 500px;
}

.chat-table {
  background-color: #FFFFFF;
  width: 300px;
}
